@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #121e2c;
    --accent1-color: #a9b2be;
    --accent2-color: #afbdd3;

    --heading-font: 'Frijole', sans-serif;
    --paragraph-font: 'Frijole', sans-serif;

    --nav-background-color: #156072;
    --nav-link-color: #04ace4;
    --nav-hover-link-color: #61263b;
    --nav-hover-background-color: #3a311f;
}

.grid {
    display: flex;
    justify-content: space-around;
}

header img {
    width: auto;
    height: 250px;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1.5rem;
    padding: 20px;
}

.header img {
    max-height: 100%;
    width: auto;
    grid-column: 1;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 3;
}

.header nav a {
    margin-left: 20px;
    color: var(--nav-link-color);
    text-decoration: none;
}

body {
    display: grid;
    gap: 1.5rem;
    font-family: var(--paragraph-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-template-rows: 1fr;
    grid-template-areas: "content";
    position: relative;
    text-align: center;
}

.hero h1 {
    color: var(--accent1-color);
    border: 10px solid;
    padding: 10px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero img {
    width: 100px;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


article {
    position: absolute;
    top: 40%;
    background-color: rgba(63, 70, 182, 0.8);
    padding: 20px;
    width: 60%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30%;
}

article img {
    margin-left: 10px;
    max-width: 500px;
    order: 2;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

}

.map {
    flex: 1;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
}

/* History */

.history-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-template-rows: 1fr;
    grid-template-areas: "content";
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    ;
}

.history-items {
    display: flex;
    justify-content: space-between;
}

.history-items p,
.history-items .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
}

.history h2 {
    text-align: center;

}

.history-image {
    flex: 1;
    align-self: center;
}

/* Adventure */
.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    justify-content: center;
}


.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.image-container img {
    width: 70%;
    height: auto;
}

.image-text {
    margin-top: 5px;
}

button.submit-button {
    background-color: lightskyblue;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button.submit-button:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
}

button.submit-button:focus {
    outline: none;
}

button.submit-button:active {
    background-color: blue;
    box-shadow: 0 0 10px 2px rgba(154, 144, 190, 0.5);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p {
    line-height: 1.6;
    font-size: 1.9em;
}

a {
    text-decoration: none;
    color: white;
}

.happy-employees {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center
}

.employee {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
}

.employee img {
    width: 100%;
    max-width: 200px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Hero-Homepage */

.homepage-hero img {
    width: 100%;
    height: auto;
    position: relative;

}

.homepage-header-txt {
    position: absolute;
    top: 1100px;
    right: 100px;
    color: #121e2c;
    /* text-shadow: 2px 1px 20px #f9f9f9; */
}

.homepage-header-txt h1,
.homepage-header-txt h2 {
    font-size: 3em;
    line-height: 1.2;
    margin: 0;
    padding: 10px;
    color: #000;
}

.homepage-hero {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}


.welcome-river {
    display: flex;
    grid-template-columns: inherit;
    grid-row: 1;
    align-items: center;
}

.welcome-river p {
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

.newsletter-form {
    width: 85%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.newsletter-form label, 
.newsletter-form input,
.newsletter-form button {
    font-size: 1.2em;
    margin: 5px 0px;
}


.container-action-call {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 20px;
}

.image-container-action-call {
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: center;
}

.text-container-action-call {
    grid-column: 2 / span 4;
    grid-row: 1;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.image-boxes-action-call {
    grid-column: 2 / span 4;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.image-boxes-action-call img {
    height: auto;
    width: 100%;
}



/* Trips Page */

.rocking-river {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.rocking-river img {
    width: 100%;
    max-width: 100%;
}

.rocking-river-p {
    font-size: 2em;
    text-align: center;

}

/* Tour-Options */
.tour-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.tour-options img {
    width: 500px;
    height: auto;
}


.table,
th,
td {
    width: 10%;
    justify-content: center;
    align-content: center;

    border: 1px solid
}

/* Footer */

.footer p {
    display: flex;
    align-items: center;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
}

.sociallinks a {
    margin-right: 10px;
}

.sociallinks a img {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}