/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

/* Define color variables */
:root {
    --primary-color: #192325;
    --secondary-color: #575353;
    --accent1-color: #092b5f;
    --nav-link-color: #345b69;
}

/* Set global styles */
body {
    font-family: 'Frijole', sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

/* Header styles */
.header {
    display: grid;
    grid-template-columns: auto 1fr; /* Logo takes auto width, nav takes remaining space */
    align-items: center; /* Align items vertically centered */
    padding: 0 20px; /* Add padding for spacing */
}

header img {
    max-height: 100%; /* Ensure the image fills the height of the header */
    width: auto;
    margin-right: 20px
}

.header nav {
    display: flex;
    justify-content: flex-end; /* Push the navigation links to the right */
    align-items: center; /* Align items vertically centered */
}

.header nav a {
    line-height: 1; /* Reset line height */
    margin: 0 10px; /* Adjust spacing between links */
    color: var(--nav-link-color);
    text-decoration: none;
}

/* Hero section styles */
.hero {
    position: relative;
    text-align: center; /* Center align text */
}

.hero h1 {
    color: var(--accent1-color);
    border: 10px solid var(--accent1-color);
    padding: 10px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero article {
    position: absolute;
    top: 60%; /* Adjust position as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(133, 120, 124, 0.8);
    padding: 20px;
    max-width: 80%; /* Adjust max width as needed */
}

.hero article p {
    line-height: 1.6;
}

/* History section styles */
.history {
    margin: 50px auto; /* Add margin for spacing */
    max-width: 1200px; /* Limit max width of content */
}

.history h2 {
    text-align: center; /* Center align heading */
}

.history .left, .history .right {
    width: 45%; /* Set width of left and right sections */
}

.history .middle {
    width: 10%; /* Set width of middle section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history .middle img {
    max-width: 100%; /* Ensure image fits container */
}

/* Adventure section styles */
.adventure {
    margin: 50px auto; /* Add margin for spacing */
    max-width: 1200px; /* Limit max width of content */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allow items to wrap */
}

.adventure img {
    width: 200px; /* Set width of adventure images */
    height: auto;
    margin-bottom: 20px; /* Add margin for spacing between images */
}

.adventure figcaption {
    text-align: center; /* Center align caption */
}
