* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(7, 37, 100, 0.2); /* 1 */
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    position: relative;
    width: 200px;
    height: auto;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #8f944d;
    color: #191ccc;
}


aside h2 {
    position: absolute;
    top: 550px;
    left: 110px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}